
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sign in to Heliff">
    <meta name="author" content="">

    {% block title %}
        <title>Login - Heliff</title>
    {% endblock %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>

<body id="signup">

<!-- Page Content -->
<div class="signup-container">
    <div class="signup-wrapper">
        <div class="signup-section">
            <div class="signup-form-container">
                <div class="signup-form-wrapper">
                    <div class="mb-3">
                        <a href="/"><span>Heliff</span></a>
                    </div>

                    <div id="signup-form" class="signup-form">
                        <form method="post" action="/signup" id="signupform">
                            <label for="username">Username</label>
                            <input name="username" id="username" required pattern="[a-zA-Z0-9_]{3,25}" type="text">
                            <label for="username">Email</label>
                            <small>(optional)</small>
                            <input name="email" id="email" type="text">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" required>
                            <small id="passwordHelp" class="passwordHelp">Minimum of 8 characters required.</small>
                            <input type="submit" value="Register">
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="signup-section">
            <div class="signup-image-container">

            </div>
        </div>
    </div>
</div>
</body>

</html>